<p>
  trievent-add works!
</p>
<button mat-fab color="primary" (click)="goBack()">
  <span matTooltip="Previous Page">
    <mat-icon>reply</mat-icon>
  </span>
</button>
<button mat-fab color="accent" (click)="createTriData(newTridata)">
  <span matTooltip="Confirm">
    <mat-icon>file_download</mat-icon>
  </span>
</button>

<div>
  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.year" placeholder="年">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.month" placeholder="月">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.day" placeholder="日">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.place" placeholder="比賽地點">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.name" placeholder="比賽名稱">
  </mat-form-field>

  <div>
    <div *ngFor="let i of newTridata.tri_event">
      {{i.eventgroup}}
      {{i.name}}
      {{i.startDate}}
      {{i.startTime}}
      {{i.cost}}
      {{i.timelimit}}
    </div>
<mat-card>
    <mat-form-field class="standard-width">
      <input matInput [(ngModel)]='newEvent.eventgroup' placeholder="組別">
    </mat-form-field>
    <mat-form-field class="standard-width">
      <input matInput [(ngModel)]='newEvent.name' placeholder="競賽名稱">
    </mat-form-field>
    <mat-form-field class="standard-width">
      <input matInput [(ngModel)]='newEvent.startDate' placeholder="競賽日期">
    </mat-form-field>
    <mat-form-field class="standard-width">
      <input matInput [(ngModel)]='newEvent.startTime' placeholder="出發時間">
    </mat-form-field>
    <mat-form-field class="standard-width">
      <input matInput [(ngModel)]='newEvent.cost' placeholder="報名費">
    </mat-form-field>
    <mat-form-field class="standard-width">
      <input matInput [(ngModel)]='newEvent.timelimit' placeholder="競賽限時">
    </mat-form-field>
    <button mat-fab color="primary" (click)="addEvent2TriData(newEvent)">
      <span matTooltip="Confirm">
        <mat-icon>file_download</mat-icon>
      </span>
    </button>
    </mat-card>
  </div>


  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.organizer" placeholder="主辦單位">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.location" placeholder="比賽地區">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.locationmap" placeholder="google地圖">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.applydate" placeholder="報名日期">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.onlineapplyurl" placeholder="線上報名網址">
  </mat-form-field>

  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.status" placeholder="報名狀態">
  </mat-form-field>
  <mat-form-field class="standard-width">
    <input matInput [(ngModel)]="newTridata.remark" placeholder="備註">
  </mat-form-field>


  <!-- <mat-form-field class="standard-width inputSize">
    <input matInput [matDatepicker]="RENTED_START_DATEpicker" [(ngModel)]="ngContractData.RENTED_START_DATE"
      placeholder="租約開始日
  ">
    <mat-datepicker-toggle matSuffix [for]="RENTED_START_DATEpicker"></mat-datepicker-toggle>
    <mat-datepicker #RENTED_START_DATEpicker></mat-datepicker>
  </mat-form-field> -->
</div>
