.mat-card {
  background: seashell;
  width: 20%;
  display: initial;
  margin: 20px;
}


.card-added {
  background: lightblue;
  width: 12%;
  display: inline-block;
  margin: 15px;
}


.rentCard {
  width: auto;
  display: grid;
}

mat-card:focus {
  background: seashell;
}
