<p>
  tri001 works!
</p>
<mat-checkbox>Check me!</mat-checkbox>
<div class="standard-closed">
  <button mat-raised-button color="primary">Primary</button>
</div>
<div>
  <mat-form-field>
    <input matInput placeholder="Favorite food" value="Vegetable">
  </mat-form-field>
</div>
<mat-form-field class="standard-width standard-closed">
  <input matInput placeholder=" food" value="HAMBUGER">
</mat-form-field>
<button mat-fab color="warn" (click)="openSnackbar()">
  <span matTooltip="Add">
    <mat-icon>add</mat-icon>
  </span>
</button>

<!-- <app-tri002 [width]="'80%'" [latit]="'23.58'" [longit]='"120.58" '></app-tri002> -->
